#g_1 .area{
    position:absolute;
    top:040px;
    left:0;
    width:1024px;
    height: 727px;
}
#g_1 .slideshows-wraper{
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height: 545px;
}
#g_1 .slideshows-wraper .slideshows-scroll{
    width: auto;
    min-width:100%;
    float: left;
    overflow:hidden;
    min-height: 545px;
}
#g_1 .slideshows-wraper .slideshows-holder{
    width:auto;
    min-width:100%;
    min-height: 545px;
    white-space: nowrap;
    position: relative;
    padding: 0 !important;
    float: left;
}

#g_1 .slideshow-target{
    position:relative; overflow: hidden;margin: 10px 25px;display: inline-block;overflow: hidden;width: 170px; height:420px;
    /*border:1px solid red;*/
}
#g_1 .slideshow-target .tittle{
    display: block;
    margin: 10px 5px;
    width: 160px;
    padding: 8px 0 0 0;
    height: 30px;
    text-align: center;
    border-radius:4px;
    text-shadow: 0 0 1px black;
    font-size:18px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(193, 194, 196, 1)), color-stop(48%,rgba(180, 181, 183, 1)), color-stop(52%,rgba(145, 146, 148, 1)), color-stop(100%,rgba(127, 127, 128, 1)));
}
#g_1 .slideshow-target .tittle.bottom{
    position: absolute;
    bottom: 0px;
}
#g_1 .slides-wraper{
    border-top: 1px solid #9A4C88;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1024px;
    height: 180px;
}

#g_1 .slides-wraper .slide-holder{
    width: auto;
    height: 150px;
    white-space: nowrap;
    position: absolute;
/*    padding: 0 !important;*/
    float: left;
    padding-top: 30px;
}
#g_1 .drag-slide{
    margin:15px;
    display:inline-block;
    width:136px;
    height:102px;
    z-index:10;
    border:2px solid rgba(255,125,0,0.7);
}
#g_1 .drag-slide img{
    width:136px;
    height:102px;
}

#g_1 .drag-slide .remove{
    position:absolute;
    right:5px;
    top:5px;
    background:url("../../content/img/remove.png");
    width:18px;
    height:18px;
}