@keyframes ImageFadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
  }@keyframes imageScaleIn {

    0% {
     transform: scale(0.1);
     opacity: 0;
   }
   50% {
     transform: scale(1.2);
     opacity: 1;
   }
   100% {
     transform: scale(1);
   }
  }




 /*Slide Zero*/
 #slide0.s0_img_logo {
   position: absolute;
       left: 50px;
       top: 100px;

     -webkit-animation: moveTo ;
       animation-duration: 2s;
       animation-delay: 0s;

 }@keyframes moveTo {
   0% {
       transform: translate3D(10px, -100px, 0);
     }

  }
#slide0.s0_img_img2{
     position :relative;
     padding-left:650px;
     padding-top: 60px;
/*
    opacity: 0;
    visibility: hidden;
*/
      -webkit-animation: imageScaleIn ease-in-out  ;
        animation-duration: 1.2s;
        animation-delay: 0s;

 }


/*Slide One*/
.s1_img_Box{
    margin-left: 100px;
    margin-top: 190px;

     -webkit-animation: 1s ease 0s normal forwards 1 imageScaleIn;
}.s1_img_desc{
     margin-left: 450px;
     margin-top: -430px;
 }
.s1_img_img1{
  opacity:0 ;
   -webkit-animation: 1s ease .25s normal forwards 1 ImageFadein;
}.s1_img_img2{
  opacity:0 ;
  -webkit-animation: 1.3s ease .5s normal forwards 1 ImageFadein;
}.s1_img_img3{
  opacity:0 ;
  -webkit-animation: 1.5s ease .75s normal forwards 1 ImageFadein;
}.s1_img_img4{
  opacity:0 ;
  -webkit-animation: 1.7s ease 1s normal forwards 1 ImageFadein;

}
















 /*Slide Eleven */
 .s11_title{
   margin-top: 130px;
   /*opacity:0 ;*/
   -webkit-animation: 1s ease 0s normal forwards 1 imageScaleIn;
 }
 .s11_sub_title{
margin-left: 65px;
opacity:0 ;
-webkit-animation: 1s ease .3s normal forwards 1 ImageFadein;
 }

 .s11_img{
margin-left: 65px;
opacity:0 ;
-webkit-animation: 1s ease .5s normal forwards 1 ImageFadein;
 }
 .s11_box{
margin-top: -350px;
   margin-left: 720px;
   opacity:0 ;
   -webkit-animation: 1s ease 1s normal forwards 1 ImageFadein;
 }













 /* Slide Twelve*/
 .s12_title{
   margin-top:130px;
   -webkit-animation: 1s ease 0s normal forwards 1 imageScaleIn;
 }
 .s12_img{
   margin-top: -1px;
   margin-left:155px;
   opacity:0 ;
   -webkit-animation: 1s ease .3s normal forwards 1 ImageFadein;
 }
 .s12_box{

   margin-top: auto;
   opacity:0 ;
   -webkit-animation: 1s ease .5s normal forwards 1 ImageFadein;
 }

 /* Slide Therteen*/
 .s13_title{
   margin-top:130px;
   -webkit-animation: 1s ease 0s normal forwards 1 imageScaleIn;
 }
 .s13_img{
   margin-top: -1px;
   margin-left:155px;
   opacity:0 ;
   -webkit-animation: 1s ease .5s normal forwards 1 ImageFadein;
 }
 .s13_box{

   margin-top: -40px;
   margin-left: 100px;
   opacity:0 ;
   -webkit-animation: 1s ease 1s normal forwards 1 ImageFadein;
 }




 /* Slide Fourteen*/
 .s14_title{
   margin-top:130px;
      -webkit-animation: 1s ease 0s normal forwards 1 imageScaleIn;
 }
 .s14_img{
   margin-top: -1px;
   margin-left:155px;
   opacity:0 ;
   -webkit-animation: 1s ease .5s normal forwards 1 ImageFadein;
 }
 .s14_box{

   margin-top: -40px;
   margin-left:50px;
   opacity:0 ;
   -webkit-animation: 1s ease 1s normal forwards 1 ImageFadein;
 }
 /* Slide Fivteen*/
 .s15_title{
   margin-top:130px;
      -webkit-animation: 1s ease 0s normal forwards 1 imageScaleIn;
 }
 .s15_video{
   margin-top: 50px;
   margin-left:60px;
   opacity:0 ;
   -webkit-animation: 1s ease .5s normal forwards 1 ImageFadein;
 }
 /* Slide Sixteen*/
 .s16_title{
   margin-top:130px;
      -webkit-animation: 1s ease 0s normal forwards 1 imageScaleIn;
 }
 .s16_img{

    margin-top: 80px;
   margin-left:200px;
   width:368px;
   float: left;
   opacity:0 ;
   -webkit-animation: 1s ease .5s normal forwards 1 ImageFadein;
 }
 .s16_imgs{
   width: 331px;
   float: right;
   margin-top: 80px;
margin-right: 80px;
  opacity:0 ;
   -webkit-animation: 1s ease 1s normal forwards 1 ImageFadein;
 }
 .s16_ref{
   margin-top: 530px;
   margin-left:80px;
   opacity:0 ;
   -webkit-animation: 1s ease 1.5s normal forwards 1 ImageFadein;
 }
 /*Seventeen*/
 .s17_title{
   margin-top:150px;
   margin-left: 65px;
   -webkit-animation: 1s ease 0s normal forwards 1 imageScaleIn;
 }
 .s17_sub_title{
margin-left: 65px;
   -webkit-animation: 1s ease 0s normal forwards 1 imageScaleIn;
 }
 .s17_img_desc{
      margin-left: 65px;
      margin-top: 30px;
      opacity:0 ;
      -webkit-animation: 1s ease .5s normal forwards 1 ImageFadein;
  }















/*Eighteen*/
.s18_graph1{
  padding-top:150px;
  padding-left: 65px;
  float: left;
  position: relative;
width: 315px;
height: 565px;

}.s18_graph2{
  margin-top:150px;
  margin-left:15px;
  width:261px;
  float: left;
  width:261px;
  height: 566px ;
  position: relative;
}
.s18_box{
  margin-top:230px;
  margin-left:20px;
  width:290px;
  float: left;

  -webkit-animation: 2s ease 0s normal forwards 1 imageScaleIn;
}
.s18_bar1{

padding-left: 100px;
padding-top: 610px;
width: 144px;
height: 10 ;
float: left;
position: absolute;
 top: 0;
 left: 0;
 z-index: 1;
-webkit-animation: 1s ease .5s normal forwards 1  s18_line1ImageSize;

}.s18_bar2{
padding-left: 250px;
padding-top: 608px;
float: left;
width: 125px;
height: 10px ;
position: absolute;
 top: 0;
 left: 0;
 z-index: 1;
 -webkit-animation: 1s ease .5s normal forwards 1  s18_line1ImageSize;

}@keyframes s18_line1ImageSize{

from{
  height: 0px ;
}to{
    height:442px ;
    padding-top: 177px;}
}
.s18_bar3{
padding-left: 25px;
padding-top: 458px;
width: 113px;
height: 10px ;
float: left;
position: absolute;
 top: 0;
 left: 0;
 z-index: 1;
  -webkit-animation: 1s ease .5s normal forwards 1  s18_line2ImageSize;
}.s18_bar4{
padding-left: 160px;
padding-top: 458px;
width: 125px;
height: 10px ;
float: left;
position: absolute;
 top: 0;
 left: 0;
 z-index: 1;
 -webkit-animation: 1s ease .5s normal forwards 1  s18_line2ImageSize;
}@keyframes s18_line2ImageSize{

from{
  height: 0px ;
}to{
    height:442px ;
    padding-top: 25px;

}

}
.s18_img_desc{
     padding-left: 65px;
     padding-top: 15px;
     width: 290px;
     height: 392px  ;
     opacity:0 ;
     -webkit-animation: 1s ease .5s normal forwards 1 ImageFadein;
 }
.clr{
  clear: both;
}

















/*Nineteen*/
.s19_title{
  margin-top: 130px;
     -webkit-animation: 1s ease 0s normal forwards 1 imageScaleIn;
}
.s19_sub_title{
  margin-top: 10px;
margin-left: 180px;
   -webkit-animation: 1s ease 0s normal forwards 1 imageScaleIn;
}
.s19_graph{
  margin-top:10px;
  margin-left:70px;
  width:883px;
  float: left;
  position: relative;
}
.s19_bars{
margin-left: 70px;
margin-top: 35px;
float: left;
width: 804px;
position: absolute;
 top: 0;
 left: 0;
 z-index: 1;
}
.s19_img_desc{
  margin-left: 65px;
  margin-top: 15px;
}
/*Tweenty*/
.s20_title{
  margin-top: 130px;
     -webkit-animation: 1s ease 0s normal forwards 1 imageScaleIn;
}
.s20_graph{
margin-top: 10px;
margin-left: 100px;
width:829px;
float: left;
position: relative;
}
.s20_bars{
margin-left: 60px;
margin-top: 43px;
float: left;
width: 256px;
position: absolute;
 top: 0;
 left: 0;
 z-index: 1;
}
.s20_bars2{
margin-left: 540px;
margin-top: 40px;
float: left;
width: 252px;
position: absolute;
 top: 0;
 left: 0;
 z-index: 1;
}
.s20_table{
margin-top: 10px;
margin-left: 50px;
width:489px;
float: left;
}
.s20_table2{
margin-top: 10px;
margin-left: 50px;
width:383px;
float: left;
}
.s20_img_desc{
  margin-left: 65px;
  margin-top: 15px;
}
/*Tweentyone*/
.s21_title{
  margin-top: 130px;
     -webkit-animation: 1s ease 0s normal forwards 1 imageScaleIn;
}
.s21_sub_title{
  margin-top: 10px;
margin-left: 50px;
}
.s21_img_desc{
  margin-left: 65px;
  margin-top: 15px;
}
