
/*Slide Zero*/
.s0_img_logo {
    padding: 0;
    left: 100px;
    top: 100px;
    /*position: relative;*/
    /*animation-name: ;*/
    /*animation-duration: 4s;*/
    /*animation-delay: 0s;*/

    -webkit-animation-name: moveTo;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    /*-webkit-animation-fill-mode: forwards;*/
}
/* Chrome, Safari, Opera */
  @keyframes moveTo {
     from {
         top: -100px;}
     to {top: 100px;}
 }



.s0_img_img2{
     margin-left:650px;
    opacity: 0;
    /*visibility: hidden;*/
    animation-name: so_img_img2_animations;
    animation-duration: 4s;
    animation-delay: 3s;
 }@keyframes so_img_img2_animations {
    from{ opacity: 0;  }
      to{ opacity: 1;}
  }

/*Slide One*/
.s1_img_Box{
    margin-left: 100px;
    margin-top: 190px;
}.s1_img_desc{
     margin-left: 450px;
     margin-top: -430px;
 }



 /*Slide Eleven */
 .s11_title{
   margin-top: 130px;
 }
 .s11_sub_title{
margin-left: 65px;
 }

 .s11_img{
margin-left: 65px;
 }
 .s11_box{
margin-top: -350px;
   margin-left: 720px;
 }

 /* Slide Twelve*/
 .s12_title{
   margin-top:130px;
 }
 .s12_img{
   margin-top: -1px;
   margin-left:155px;
 }
 .s12_box{

   margin-top: auto;
 }
 /* Slide Therteen*/
 .s13_title{
   margin-top:130px;
 }
 .s13_img{
   margin-top: -1px;
   margin-left:155px;
 }
 .s13_box{

   margin-top: -40px;
   margin-left: 100px;
 }
 /* Slide Fourteen*/
 .s14_title{
   margin-top:130px;
 }
 .s14_img{
   margin-top: -1px;
   margin-left:155px;
 }
 .s14_box{

   margin-top: -40px;
   margin-left:50px;
 }
 /* Slide Fivteen*/
 .s15_title{
   margin-top:130px;
 }
 .s15_video{
   margin-top: 50px;
   margin-left:60px;
 }
 /* Slide Sixteen*/
 .s16_title{
   margin-top:130px;
 }
 .s16_img{

    margin-top: 80px;
   margin-left:200px;
   width:368px;
   float: left;
 }
 .s16_imgs{
   width: 331px;
   float: right;
   margin-top: 80px;
margin-right: 80px;
 }
 .s16_ref{
   margin-top: 530px;
   margin-left:80px;
 }
 /*Seventeen*/
 .s17_title{
   margin-top:150px;
   margin-left: 65px;

 }
 .s17_sub_title{
margin-left: 65px;
 }
 .s17_img_desc{
      margin-left: 65px;
      margin-top: 30px;
  }
/*Eighteen*/
.s18_graph1{
  margin-top:150px;
  margin-left: 65px;
  width:315px;
  float: left;
position: relative;
}
.s18_graph2{
  margin-top:150px;
  margin-left:15px;
  width:261px;
  float: left;
  position: relative;
}
.s18_box{
  margin-top:230px;
  margin-left:20px;
  width:290px;
  float: left;
}
.s18_bar1{

margin-left: 50px;
margin-top: 27px;
float: left;
width: 112px;
position: absolute;
 top: 0;
 left: 0;
 z-index: 1;
}
.s18_bar2{
margin-left: 185px;
margin-top: 27px;
float: left;
width: 125px;
position: absolute;
 top: 0;
 left: 0;
 z-index: 1;
}
.s18_bar3{
margin-left: 25px;
margin-top: 27px;
float: left;
width: 113px;
position: absolute;
 top: 0;
 left: 0;
 z-index: 1;
}
.s18_bar4{
margin-left: 160px;
margin-top: 27px;
float: left;
width: 125px;
position: absolute;
 top: 0;
 left: 0;
 z-index: 1;
}
.s18_img_desc{
     margin-left: 65px;
     margin-top: 15px;
 }
.clr{
  clear: both;
}
/*Nineteen*/
.s19_title{
  margin-top: 130px;
}
.s19_sub_title{
  margin-top: 10px;
margin-left: 180px;
}
.s19_graph{
  margin-top:10px;
  margin-left:70px;
  width:883px;
  float: left;
  position: relative;
}
.s19_bars{
margin-left: 70px;
margin-top: 35px;
float: left;
width: 804px;
position: absolute;
 top: 0;
 left: 0;
 z-index: 1;
}
.s19_img_desc{
  margin-left: 65px;
  margin-top: 15px;
}
/*Tweenty*/
.s20_title{
  margin-top: 130px;
}
.s20_graph{
margin-top: 10px;
margin-left: 100px;
width:829px;
float: left;
position: relative;
}
.s20_bars{
margin-left: 60px;
margin-top: 43px;
float: left;
width: 256px;
position: absolute;
 top: 0;
 left: 0;
 z-index: 1;
}
.s20_bars2{
margin-left: 540px;
margin-top: 40px;
float: left;
width: 252px;
position: absolute;
 top: 0;
 left: 0;
 z-index: 1;
}
.s20_table{
margin-top: 10px;
margin-left: 50px;
width:489px;
float: left;
}
.s20_table2{
margin-top: 10px;
margin-left: 50px;
width:383px;
float: left;
}
.s20_img_desc{
  margin-left: 65px;
  margin-top: 15px;
}
/*Tweentyone*/
.s21_title{
  margin-top: 130px;
}
.s21_sub_title{
  margin-top: 10px;
margin-left: 50px;
}
.s21_img_desc{
  margin-left: 65px;
  margin-top: 15px;
}
